{% extends "EcommerceProduitBundle::base.html.twig" %}
{% block body %}
	<form method="POST" action="{{ path('ajouteProduit') }}">
		<input type="text" name="nom"><br/>
		<input type="text" name="departement"><br/>
		<input type="number" name="prix"><br/>
		<input type="text" name="typeproduit"><br/>
		<input type="text" name="details"><br>
		<input type="text" name="photo"><br>
		<input type="text" name="contacts"><br>
		<input type="submit" value="valider">
	</form>
{% endblock %}