{% extends "EcommerceProduitBundle::base.html.twig" %}
{% block body %}
	<form method="POST">
		<input type="text" name="nom_produit"><br/>
		<input type="text" name="dep_production"><br/>
		<input type="number" name="prix_produit"><br/>
		<input type="text" name="contacts">
		<input type="text" name="details_produit">
		<input type="submit" value="valider">
	</form>
{%endblock%}