<div class="footer">
    <div class="container">
     <div class="col-md-3 w3_footer_grid">
				<h3>La Societe DLC</h3>
				<ul class="w3_footer_grid_list">
					<li><a href="events.html">Qui somme nous</a></li>
					<li><a href="about.html">Nous contacter</a></li>
					<li><a href="products.html">Localisation</a></li>
					<li><a href="services.html">Politique</a></li>
				</ul>
			</div>

			<div class="col-md-3 w3_footer_grid">
				<h3>Pratique</h3>
				<ul class="w3_footer_grid_list">
					<li><a href="faqs.html">Numeros Aeroport en Casamance</a></li>
					<li><a href="privacy.html">Numeros des hopitaux</a></li>
					<li><a href="privacy.html">Numeros de port</a></li>
				</ul>
			</div>

			<div class="col-md-3 w3_footer_grid">
				<h3>Cooperation</h3>
				<ul class="w3_footer_grid_list">
					<li><a href="pet.html">Particuliers</a></li>
					<li><a href="frozen.html">Industriels</a></li>
				</ul>
			</div>
      <div class="clearfix"> </div>
	  <div class="agile_footer_grids">
      <div class="wthree_footer_copy">
        <p>© 2016. All rights reserved | Design by Prosper KIEMDE</p>
     </div>
     </div>
     </div>

    </div>
  </div>