{% block menu %}
	<ul class="special_items">
		<li><a href="{{ path('homepage') }}">Accueil</a><i>/</i></li>
		<li><a href="{{ path('ecommerce_boutique_homepage') }}">Produits</a><i>/</i></li>
		<li><a>Hotels et Restaurants</a><i>/</i></li>
		<li><a>Culture</a><i>/</i></li>
		<li><a>A propos</a><i></i></li>
	</ul>

{% endblock %}